ROBOFLOW_API_KEY=
ROBOFLOW_WORKSPACE=
ROBOFLOW_PROJECT=
ROBOFLOW_VERSION=

WEB_DATA_ROOT=
WEB_MAX_UPLOAD_BYTES=10737418240
WEB_MAX_FOLDER_UPLOAD_BYTES=26843545600
WEB_MAX_FOLDER_FILES=100000
WEB_MAX_ZIP_ENTRIES=100000
WEB_MAX_ZIP_UNCOMPRESSED_BYTES=53687091200
WEB_MAX_ZIP_COMPRESSION_RATIO=500
WEB_INFERENCE_MODEL_CACHE_SIZE=2
WEB_HOST=0.0.0.0
TRAINING_PYTHON=python3
TRAINING_DEVICE=
INFERENCE_DEVICE=
SAM_QA_DEVICE=
SAM3_QA_MODEL_PATH=
HOST_UID=1000
HOST_GID=1000
